<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgexam.marking.dao.QuestionInfoDao">
    <resultMap id="myResult" type="com.qgexam.marking.pojo.VO.QuestionAnsVO">
        <result column="question_id" property="questionId" />
        <collection property="subQuestionAnsList" column="question_id" select="com.qgexam.marking.dao.QuestionInfoDao.getSubQuestionAnsList" />
    </resultMap>
    <select id="getHasSubQuestionAnsList" resultMap="myResult">
        select question_id
        from question_info
        where question_id in
        <foreach collection="hasSubQuestionIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getSubQuestionAnsList" resultType="com.qgexam.marking.pojo.VO.SubQuestionVO">
        select sub_question_id, sub_question_desc, sub_question_ans
        from sub_question_info
        where question_id = #{questionId};
    </select>

</mapper>