<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgexam.exam.enter.dao.ExaminationInfoDao">

    <select id="selectAllExaminationInfo" resultType="com.qgexam.exam.enter.pojo.VO.GetExamListVO">
        select distinct ei.examination_id, ei.examination_paper_id, ei.examination_name, ei.created_by, ei.start_time, ei.end_time, ei.status, ei.limit_time, ei.is_question_resort, ei.is_option_resort, ei.result_query_time, ei.create_time, ei.update_time, ei.is_deleted
        from examination_info ei
        left join course_examination ce on ei.examination_id = ce.examination_id
        where ce.course_id in
        <foreach collection="courseIdList" item="courseId" open="(" separator="," close=")">
            #{courseId}
        </foreach>
        order by ei.status
    </select>
    <update id="updateStatus">
        update examination_info
        set status = #{status}
        where examination_id = #{examinationId}
    </update>

    <select id="getByExaminationId" resultType="com.qgexam.exam.enter.pojo.PO.ExaminationInfo">
        select * from examination_info where examination_id=#{examinationId}
    </select>
    <select id="selectCourseIdByExaminationId" resultType="java.lang.Integer">
        select course_id from course_examination where examination_id=#{examinationId} and is_deleted=0
    </select>

</mapper>