<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgexam.exam.enter.dao.StudentExamRecordDao">


    <select id="selectByStudentIdAndExaminationId" resultType="com.qgexam.exam.enter.pojo.PO.StudentExamRecord">
        select *
        from student_exam_record
        where student_id = #{studentId} and examination_id = #{examinationId}
    </select>
</mapper>