<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgexam.exam.finish.dao.ExaminationInfoDao">

    <select id="getExaminationPaperId" resultType="java.lang.Integer">
        select examination_paper_id from examination_info where examination_id=#{examinationId} and is_deleted=0
    </select>
</mapper>