<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgexam.exam.finish.dao.ExamSubmitRecordDao">

    <insert id="insertRecord">
        insert into exam_submit_record(student_id,examination_id,submit_time) values (#{studentId},#{examinationId},#{submitTime})
    </insert>
</mapper>