<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgexam.user.dao.ExaminationPaperDao">

    <insert id="savePaperQuestionBatch">
        insert into examination_paper_question (examination_paper_id, question_id, question_score)
        values
        <foreach collection="questionIdList" item="questionId" index="index" separator=",">
            (#{examinationPaperId}, #{questionId},#{questionScore})
        </foreach>
    </insert>
</mapper>