<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgexam.user.dao.MessageInfoDao">
    <insert id="insertMarkingMessageBatch">
        INSERT INTO message_info (user_id, title, examination_name, end_time)
        VALUES
        <foreach collection="messageInfoList" item="messageInfo" separator=",">
            (#{messageInfo.userId}, #{messageInfo.title}, #{messageInfo.examinationName}, #{messageInfo.endTime})
        </foreach>
    </insert>
    <insert id="insertScoreQueryMessageBatch" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO message_info (user_id, title, examination_name, start_time, is_deleted)
        VALUES
        <foreach collection="messageInfoList" item="messageInfo" separator=",">
            (#{messageInfo.userId}, #{messageInfo.title}, #{messageInfo.examinationName}, #{messageInfo.startTime}, 1)
        </foreach>
    </insert>
    <update id="updateBatch">
        UPDATE message_info
        SET is_deleted = 0
        WHERE message_id IN
        <foreach collection="messageIdList" item="messageId" open="(" close=")" separator=",">
            #{messageId}
        </foreach>
    </update>
</mapper>