<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgexam.user.dao.MessageInfoDao">

    <insert id="insertMessageInfo">
        insert into message_info(user_id, title, examination_name, start_time, end_time)
        values(#{userId},#{title}, #{examinationName}, #{startTime}, #{endTime})
    </insert>
    <update id="updateStatus">
        update message_info set status=1 where message_id=#{messageId}
    </update>

    <select id="getMessagePage" resultType="com.qgexam.user.pojo.VO.MessageInfoListVO">
        select message_id, title, status
        from message_info
        where user_id = #{userId} and is_deleted = 0
    </select>
    <select id="getMessage" resultType="com.qgexam.user.pojo.VO.MessageInfoVO">
        select examination_name,start_time,end_time
        from message_info where user_id=#{userId} and message_id=#{messageId} and is_deleted=0
    </select>

    <insert id="insertMarkingMessageBatch">
        INSERT INTO message_info (user_id, title, examination_name, end_time)
        VALUES
        <foreach collection="messageInfoList" item="messageInfo" separator=",">
            (#{messageInfo.userId}, #{messageInfo.title}, #{messageInfo.examinationName}, #{messageInfo.endTime})
        </foreach>
    </insert>
    <insert id="insertScoreQueryMessageBatch" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO message_info (user_id, title, examination_name, start_time, is_deleted)
        VALUES
        <foreach collection="messageInfoList" item="messageInfo" separator=",">
            (#{messageInfo.userId}, #{messageInfo.title}, #{messageInfo.examinationName}, #{messageInfo.startTime}, 1)
        </foreach>
    </insert>
</mapper>