<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgexam.user.dao.SubQuestionInfoDao">
    <insert id="insertSubQuestionInfoBatch">
        insert into sub_question_info(question_id, sub_question_desc, sub_question_ans)
        values
        <foreach collection="subQuestionInfoList" item="subQuestionInfo" separator=",">
            (#{subQuestionInfo.questionId}, #{subQuestionInfo.subQuestionDesc}, #{subQuestionInfo.subQuestionAns})
        </foreach>
    </insert>

    <select id="selectSubQuestionInfoListByQuestionInfoId"
            resultType="com.qgexam.user.pojo.VO.SubQuestionInfoVO">
        select sqi.sub_question_id, sqi.sub_question_desc
        from sub_question_info sqi
        where sqi.question_id = #{questionId} and sqi.is_deleted = 0
    </select>
</mapper>