<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgexam.quartz.dao.MessageInfoDao">
    <update id="updateBatch">
        UPDATE message_info
        SET is_deleted = 0
        WHERE message_id IN
        <foreach collection="messageIdList" item="messageId" open="(" close=")" separator=",">
            #{messageId}
        </foreach>
    </update>
</mapper>